# ---------------------------------------------------
# Flutter App

# Miscellaneous
task_notes_app/*.class
task_notes_app/*.log
task_notes_app/*.pyc
task_notes_app/*.swp
task_notes_app/.DS_Store
task_notes_app/.atom/
task_notes_app/.build/
task_notes_app/.buildlog/
task_notes_app/.history
task_notes_app/.svn/
task_notes_app/.swiftpm/
task_notes_app/migrate_working_dir/
task_notes_app/.env

# IntelliJ related
task_notes_app/*.iml
task_notes_app/*.ipr
task_notes_app/*.iws
task_notes_app/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
task_notes_app/**/doc/api/
task_notes_app/**/ios/Flutter/.last_build_id
task_notes_app/.dart_tool/
task_notes_app/.flutter-plugins
task_notes_app/.flutter-plugins-dependencies
task_notes_app/.pub-cache/
task_notes_app/.pub/
task_notes_app/build/

# Symbolication related
task_notes_app/app.*.symbols

# Obfuscation related
task_notes_app/app.*.map.json

# Android Studio will place build artifacts here
task_notes_app/android/app/debug
task_notes_app/android/app/profile
task_notes_app/android/app/release

# ---------------------------------------------------
# NestJs backend

# compiled output
task_notes_backend/dist
task_notes_backend/node_modules
task_notes_backend/build
task_notes_backend/firebase-service-account.json

# Logs
task_notes_backend/logs
task_notes_backend/*.log
task_notes_backend/npm-debug.log*
task_notes_backend/pnpm-debug.log*
task_notes_backend/yarn-debug.log*
task_notes_backend/yarn-error.log*
task_notes_backend/lerna-debug.log*

# OS
task_notes_backend/.DS_Store

# Tests
task_notes_backend/coverage
task_notes_backend/.nyc_output

# IDEs and editors
task_notes_backend/.idea
task_notes_backend/.project
task_notes_backend/.classpath
task_notes_backend/.c9/
task_notes_backend/*.launch
task_notes_backend/.settings/
task_notes_backend/*.sublime-workspace

# IDE - VSCode
task_notes_backend/.vscode/*
task_notes_backend/!.vscode/settings.json
task_notes_backend/!.vscode/tasks.json
task_notes_backend/!.vscode/launch.json
task_notes_backend/!.vscode/extensions.json

# dotenv environment variable files
task_notes_backend/.env
task_notes_backend/.env.development.local
task_notes_backend/.env.test.local
task_notes_backend/.env.production.local
task_notes_backend/.env.local

# temp directory
task_notes_backend/.temp
task_notes_backend/.tmp

# Runtime data
task_notes_backend/pids
task_notes_backend/*.pid
task_notes_backend/*.seed
task_notes_backend/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
task_notes_backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json